<!DOCTYPE html>
<html lang="en">
<head>
  <title>借阅列表</title>
  <link rel="stylesheet" href="../static/layui/css/layui.css"/>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
</head>
<body>
<div class="container" style="width: 90%;">
  <br/>
  <br/>

  <fieldset class="layui-elem-field layui-field-title">
    <legend style="margin-left: 20px;padding: 0 10px;text-align: left;width: 170px;border-bottom: none;">
      <strong>借阅列表</strong></legend>
  </fieldset>
  <br/>
  <h5 style="margin-top: -20px;">
    <i class="fa fa-paper-plane-o fa-fw" style="color: #299A74"></i>
    <span style="color: #299A74;"><strong>输入查询信息</strong></span>
  </h5>
  <hr style="margin-top: 0;"/>
  <div class="form table">
    <div>
      <div class="layui-form-item">
        <label class="layui-form-label" style="margin-left: -10px;padding-left:0;"><strong>借阅名称</strong></label>
        <div class="layui-input-inline">
          <input id="borrow_name" placeholder="请输入借阅名称查询" class="layui-input" type="text">
        </div>
        <div class="layui-input-inline" style="margin-left: 50px;">
          <button class="layui-btn" onclick="queryBorrow()">查询</button>
          <button class="layui-btn" onclick="add()">添加</button>
        </div>
        <div class="layui-input-inline">
          <button class="layui-btn" onclick="function exportData() {
            table.exportFile('test',table.data,'xls')
          }
          exportData()">导出
          </button>
        </div>
      </div>
    </div>
  </div>
  <h5>
    <i class="fa fa-paper-plane-o fa-fw" style="color: #299A74"></i>
    <span style="color: #299A74;"><strong>查询结果展示</strong></span>
  </h5>


  <br/>
  <br/>
  <div class="table-responsive">
    <table class="layui-hide" id="test" lay-filter="test"></table>
  </div>


  <form class="layui-form" lay-filter="editOrAdd" action=""
        style="margin-top:20px;display:none;text-align: center"
        id="editOrAdd">
    <div class="layui-form-item">
      <label class="layui-form-label">借阅人</label>
      <div class="layui-input-inline">
        <select name="user_id" lay-filter="user_id" id="user_id">
        </select>
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">书名</label>
      <div class="layui-input-inline">
        <select name="book_id" lay-filter="book_id" id="book_id">
        </select>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">数量</label>
      <div class="layui-input-inline">
        <input type="text" name="book_count" required lay-verify="required"
               autocomplete="off"
               placeholder="请输入借阅数量" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">start</label>
      <div class="layui-input-inline">
        <input type="text" class="layui-input" name="borrow_start_time" id="borrow_start_time" placeholder="yyyy-MM-dd">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">end</label>
      <div class="layui-input-inline">
        <input type="text" class="layui-input" name="borrow_time" id="borrow_time" placeholder="yyyy-MM-dd">
      </div>
    </div>

  </form>
</div>


</body>
<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/layui/layui.all.js"></script>
<script src="../static/js/bootstrap.js"></script>
<script src="../static/js/ajax.js"></script>
<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
    <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button>
  </div>
</script>
<script type="text/javascript">
  const token = window.sessionStorage.getItem('token')
  var element
  var laypage
  var util
  layui.use('element', function () {
    element = layui.element;
  });
  layui.use('laypage', function () {
    laypage = layui.laypage
  });
  layui.use('util',function () {
     util = layui.util
  })
  layui.use('laydate', function () {
    var laydate = layui.laydate;


    //常规用法
    laydate.render({
      elem: '#borrow_time'
    });
    laydate.render({
      elem: '#borrow_start_time'
    });
  });
  layui.use('upload', function () {
    var upload = layui.upload;

    //执行实例
    var uploadInst = upload.render({
      elem: '#logo' //绑定元素
      , url: basePath + '/borrow/upload/' //上传接口
      , headers: {
        token: token
      }
      , accept: 'images'
      , acceptMime: 'image/*'
      , auto: true
      , drag: true
      , done: function (res) {
        layer.msg('上传成功');
        layui.$('#uploadDemoView').removeClass('layui-hide').find('img').attr('src', "data:image/jpg;base64," + res.data.src);
        $('#borrow_logo').val(res.data.src)
      }
      , error: function () {
        layer.msg('网络异常，请稍后重试')
      }
    });
  });
  let table = {}
  let form = {}
  layui.use('form', function () {
    form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
  });
  let callback1 = function (res) {
    $('#user_id').empty()
    let data = res.data.records
    let options = ' <option value=""></option>'
    for (const x of data) {
      options += ' <option value="' + x.userId + '" >' + x.userName + '</option>'
    }
    $('#user_id').append(options)
  }
  ajaxGet('/user/list', null, token, callback1)

  let callback2 = function (res) {
    $('#book_id').empty()
    let data = res.data.records
    let options = ' <option value=""></option>'
    for (const x of data) {
      options += ' <option value="' + x.bookId + '" >' + x.bookName + '</option>'
    }
    $('#book_id').append(options)
  }
  ajaxGet('/book/list', null, token, callback2)
  form.render()
  layui.use('table', function () {
    table = layui.table;
    let role = window.sessionStorage.getItem('userRole');
    let columns = [[
      {type: 'checkbox'},
      {field: 'bookName', width: '20%', title: '书名', sort: true}
      , {field: 'userName', title: '借阅人', width: '20%'}
      , {field: 'wareCount', title: '可借阅数量', width: '20%'}
      , {field: 'bookCount', title: '借阅数', width: '20%'}
      , {field: 'wareTotal', title: '书籍总数', width: '20%'}
      , {
        field: 'borrowStartTime', title: '借阅开始时间', width: '20%',
        templet: function (d) {
          return ''+ util.toDateString(d.borrowStartTime,'yyyy-MM-dd')
        }
      }
      , {
        field: 'borrowTime', title: '借阅结束时间', width: '20%',
        templet: function (d) {
          return ''+ util.toDateString(d.borrowTime,'yyyy-MM-dd')
        }
      }

    ]]
    if (role === '1') {
      columns[0].push(
        {fixed: 'right', width: '20%', align: 'center', toolbar: '#toolbarDemo', id: 'tool'})
    }
    table.render({
      elem: '#test'
      , method: 'get'
      , page: true
      , headers: {
        token: token
      }
      , url: basePath + '/borrow/list'
      , cols: columns
      , parseData: function (res) { //res 即为原始返回的数据
        return {
          "code": res.code, //解析接口状态
          "msg": res.msg, //解析提示文本
          "count": res.count, //解析数据长度
          "data": res.data.records //解析数据列表
        };
      }
    });
  });

  table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
    let data = obj.data; //获得当前行数据
    let layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

    if (layEvent === 'delete') { //删除
      const noList = new Array();
      const checkStatus = table.checkStatus('test')
      for (const i of checkStatus.data) {
        noList.push(i.borrowId)
      }


      layer.confirm('确定删除该借阅么', function (index) {
        //删除对应行（tr）的DOM结构，并更新缓存
        layer.close(index);
        del(noList.join(","))
        table.reload('test', {})
      });
    } else if (layEvent === 'update') { //编辑
      let result = update(obj)
      obj.update(result);
    }
  });

  function queryBorrow() {
    let borrow_name = $('#borrow_name').val()

    table.reload('test', {
      elem: '#test'
      , method: 'get'
      , url: basePath + '/borrow/list?keyword=' + borrow_name
      , headers: {
        token: token
      }
    });
    return false
  }


  function add() {
    let result = {}
    layui.use('layer', function () {
      let layer = layui.layer;
      layer.open({
        type: 1,
        title: "添加借阅",
        content: $("#editOrAdd"),
        area: ['300px', '400px'],
        btn: ['确定'],
        yes: function (index, layero) {
          result = toAdd()
          //do something
          layer.close(index); //如果设定了yes回调，需进行手工关闭
          $('#editOrAdd').attr("style", "display:none;text-align: center")
        },
        cancel: function (index, layero) {
          layer.close(index)
          $('#editOrAdd').attr("style", "display:none;text-align: center")
          return false;
        }
      })
    });
    $('#user_id').val('')
    $('#book_id').val('')
    $('#editOrAdd input[name=borrow_time]').val('')
    $('#editOrAdd input[name=borrow_start_time]').val('')
    $('#editOrAdd input[name=book_count]').val('')
    form.render()
    return result
  }

  function update(obj) {
    let result = {}
    layui.use('layer', function () {
      let layer = layui.layer;
      layer.open({
        type: 1,
        title: "修改借阅信息",
        content: $("#editOrAdd"),
        area: ['300px', '400px'],
        btn: ['确定'],
        yes: function (index, layero) {
          result = toUpdate(obj.data.borrowId)
          //do something
          layer.close(index); //如果设定了yes回调，需进行手工关闭
          $('#editOrAdd').attr("style", "display:none;text-align: center")
          obj.update(result)
        },
        cancel: function (index, layero) {
          layer.close(index)
          $('#editOrAdd').attr("style", "display:none;text-align: center")
          return false;
        }
      })
    });


    $('#user_id').each(function () {
      // this代表的是<option></option>，对option再进行遍历
      $(this).children("option").each(function () {
        // 判断需要对那个选项进行回显
        if (Number.parseInt(this.value) === obj.data.userId) {
          // 进行回显
          $(this).attr("selected", "selected");
        }
      });
    });
    $('#book_id').each(function () {
      // this代表的是<option></option>，对option再进行遍历
      $(this).children("option").each(function () {
        // 判断需要对那个选项进行回显
        if (Number.parseInt(this.value) === obj.data.bookId) {
          // 进行回显
          $(this).attr("selected", "selected");
        }
      });
    });
    $('#editOrAdd input[name=book_count]').val('' + obj.data.bookCount)
    const format = 'yyyy-MM-dd'
    $('#editOrAdd input[name=borrow_time]').val(util.toDateString(obj.data.borrowTime, format))
    $('#editOrAdd input[name=borrow_start_time]').val(util.toDateString(obj.data.borrowStartTime, format))
    form.render()
    return result
  }

  function base(url, callback, token, borrowId) {
    const borrow_time = $('#editOrAdd input[name=borrow_time]').val()
    const book_count = $('#editOrAdd input[name=book_count]').val()
    const borrow_start_time = $('#editOrAdd input[name=borrow_start_time]').val()
    const user_id = $('#editOrAdd select[name=user_id] option:selected').val()
    const book_id = $('#editOrAdd select[name=book_id] option:selected').val()
    const data = {
      borrowId: borrowId,
      userId: user_id,
      bookId: book_id,
      bookCount: book_count,
      borrowTime: borrow_time,
      borrowStartTime: borrow_start_time
    }

    ajaxPost(url, data, token, callback)
    return data
  }

  function toUpdate(borrowId) {
    let callback = function (result) {
    }
    return base('/borrow/update', callback, token, borrowId)
  }

  function toAdd() {
    let callback = function (result) {

    }
    return base('/borrow/add', callback, token, null)
  }

  function del(list) {

    let callback = function (result) {

    }
    ajaxGet('/borrow/delete', {'borrowId': list}, token, callback)
  }

  layui.use(['form(editOrAdd)', 'jquery'], function () {
    let $ = layui.jquery;
    let form = layui.form();
    form.verify({
      regPwd: function (value) {
        //获取密码
        const pwd = $("#borrow_pssword").val();
        if (!new RegExp(pwd).test(value)) {
          return '两次输入的密码不一致';
        }
      }
    });
  });
</script>

</html>